<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" ng-app="myApp">
<!--<![endif]-->
<!-- HEAD SECTION -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title>MAK Issue Track</title>
    <!--GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--BOOTSTRAP MAIN STYLES -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!--FONTAWESOME MAIN STYLE -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />

    <!--CUSTOM STYLE -->
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/offcanvas.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <link rel="import" href="noSignupNav.html">
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="issueList/img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="issueList/img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="issueList/img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="issueList/img/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="issueList/img/favicon.png">

    <script type="text/javascript" src="issueList/js/jquery.min.js"></script>
    <script type="text/javascript" src="issueList/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="issueList/js/scripts.js"></script>

</head>
<!--END HEAD SECTION -->
<body ng-controller="tasksController">
<?php session_start(); ?>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="app/app.js"></script>

<!--NAV Section when signIn has not been done-->

<!-- NAV SECTION -->
<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="tasksController">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand1" href="#" style="background: no-repeat center center; color: #fff; font-weight: bold;letter-spacing: 2px;"><img src="assets/img/sample-3-new.png" style="width: 14%; height: 100%;"> MAK TRACK</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="landing.html">HOME</a></li>
                <li><a href="project.html">PROJECT</a></li>
                <li><a href="issue.html">ISSUE</a></li>
                <li><a href="#"><?php if(isset($_SESSION['user'])) {echo ($_SESSION['user']);}?> </a> </li>
            </ul>
        </div>

    </div>
</div>
<!--END NAV SECTION -->
<br>
<br>
<br>
<br>
<div class="task">
<!--    <label class="checkbox" ng-repeat="issue in issues">
        <span >{{issue.NAME}}</span>
        <span >{{issue.DESCRIPTION}}</span>
        <div>
            <button ng-click="addNewClicked=!addNewClicked;" class="btn btn-sm btn-danger header-elements-margin"><i class="glyphicon  glyphicon-plus"></i>&nbsp;Add New Task</button>
            <div ng-if="addNewClicked">
                <span >{{issue.DESCRIPTION}}</span>
            </div>
        </div>

    </label>
</div>

<div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="list-group" ng-repeat="issue in issues">
        <div>
            <a ng-click="addNewClicked=!addNewClicked;" href="#" ><i class="glyphicon  glyphicon-plus"></i>&nbsp;Add New Task</a>
            <div ng-if="addNewClicked">
                <span >{{issue.DESCRIPTION}}</span>
            </div>
        </div>
&lt;!&ndash;        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>&ndash;&gt;
    </div>
</div>&lt;!&ndash;/span&ndash;&gt;-->

<div class="row row-offcanvas row-offcanvas-left" style="position: absolute; z-index:15; margin-left: 250px;">

    <div class="col-xs-12 col-sm-7">
        <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p>
        <div class="jumbotron">
            <h1>Hello, world! {{issue.DESCRIPTION}}</h1>
            <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
        </div>
        <div class="row">

            <div class="col-xs-6 col-sm-6 sidebar-offcanvas" id="sidebar" role="navigation">
                <div class="list-group" ng-repeat="issue in issues">


                    <div>
                        <form action="issueView1.html" method="get" name="form1">
                            <input type="text" name="akram" value="{{issue.ID}}">
                            <input type="submit" name="submit" value="submit">
                        </form>
                        <a ng-click="addNewClicked=!addNewClicked;" href="#" ><i class="glyphicon  glyphicon-plus"></i>&nbsp;{{issue.ISSUENAME}}</a>
                        <div ng-if="addNewClicked">


                            <span >{{issue.DESCRIPTION}}</span>
                            <span ><h4>POSTED BY: {{issue.POSTED}}</h4></span>
<!--                            <div class="list-group" ng-repeat="issueupdate in issueupdates">
                                <div>
                                <span>{{issueupdate.ID}}</span>
                                <span>{{issueupdate.UPDATEVALUE}}</span>
                                <span>{{issueupdate.POSTED}}</span>
                                </div>
                            </div>-->

                            <div ng-include src="'partials/issue.html'"></div>
                            <form>
                                <input style="margin-bottom: 15px;" type="text" name="id" ng-model="issue.id" placeholder="{{issue.ID}}" ng-value="{{issue.ID}}">
                                <input style="margin-bottom: 15px;" type="text" name="update" ng-model="issue.update" placeholder="Update">
                                <label class="string optional" for="user_remember_me"> Remember me</label>
                                <input class="btn btn-primary btn-block" type="submit" ng-click="setIssueUpdate(issue)" id="sign-in" value="Updates">
                                <br>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!--/span-->
        </div><!--/row-->
    </div><!--/span-->


    <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
        <div class="list-group">
            <a href="#" class="list-group-item active">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
        </div>
    </div><!--/span-->

</div><!--/row-->

</div>

</body>
</html>