<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" ng-app="myApp">
<!--<![endif]-->
<!-- HEAD SECTION -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="refresh" content="3000" >
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title>MAK Issue Track</title>
    <!--GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--BOOTSTRAP MAIN STYLES -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
    <!--FONTAWESOME MAIN STYLE -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <!--ADDED-->
    <!--CUSTOM STYLE -->
    <link href="assets/css/style.css" rel="stylesheet" />
    <!--<link href="assets/css/offcanvas.css" rel="stylesheet">-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="issueList/img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="issueList/img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="issueList/img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="issueList/img/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="issueList/img/favicon.png">

    <script data-require="angular.js@1.2.2" src="http://code.angularjs.org/1.2.2/angular.js" data-semver="1.2.2"></script>
    <script data-require="d3@*" data-semver="3.3.11" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.3.11/d3.js"></script>
    <script type="text/javascript" src="https://rawgit.com/chinmaymk/angular-charts/bower/dist/angular-charts.min.js"></script>
    <script type="text/javascript" src="app/app.js"></script>

    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>

</head>
<!--END HEAD SECTION -->
<body >
<?php session_start(); ?>

<!--NAV Section when signIn has not been done-->

<!-- NAV SECTION -->


<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="tasksController">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand1" href="#" style="background: no-repeat center center; color: #fff; font-weight: bold;letter-spacing: 2px;"><img src="assets/img/sample-3-new.png" style="width: 14%; height: 100%;"> MAK TRACK</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="landing.html">HOME</a></li>
                <li><a href="project.html">PROJECT</a></li>
                <li><a href="issueList.html">ISSUE</a></li>
                <li><a href="#"><?php if(isset($_SESSION['user'])) {echo ($_SESSION['user']);}?> </a> </li>
                <li><a href="logout.html"><?php if(isset($_SESSION['user'])) {echo 'LOGOUT';}?> </a> </li>
            </ul>
        </div>
    </div>
</div>
<!--END NAV SECTION -->
<br>
<br>
<div class="container" style="margin-bottom: 30px;">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="carousel slide" id="carousel-914901">
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#carousel-914901">
                    </li>
                    <li data-slide-to="1" data-target="#carousel-914901">
                    </li>
                    <li data-slide-to="2" data-target="#carousel-914901">
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img alt="" src="http://lorempixel.com/1600/500/sports/1" />
                        <div class="carousel-caption">
                            <h4>
                                First Thumbnail label
                            </h4>
                            <p>
                                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="" src="http://lorempixel.com/1600/500/sports/2" />
                        <div class="carousel-caption">
                            <h4>
                                Second Thumbnail label
                            </h4>
                            <p>
                                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="" src="http://lorempixel.com/1600/500/sports/3" />
                        <div class="carousel-caption">
                            <h4>
                                Third Thumbnail label
                            </h4>
                            <p>
                                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                            </p>
                        </div>
                    </div>
                </div> <a class="left carousel-control" href="#carousel-914901" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-914901" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
</div>



<div class="container" ng-controller="tasksController">

    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
            </p>
            <div class="jumbotron">
                <h1>Hello, world!</h1>
                <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
            </div>
            <div class="row">
                <div class="col-md-6 column" ng-controller="tasksController">
                    <div  ng-repeat="issue in issues" style="margin-bottom: 230px;">
                        <a style="font-size: 20px;" id="modal-851072" href="#modal-container-851072" role="button" class="btn" data-toggle="modal">{{issue.ISSUENAME}}</a>

                        <div class="modal fade" id="modal-container-851072" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            Issue Description
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        {{issue.DESCRIPTION}}
                                        <hr>
                                        <p> <span style="font-weight: bold">CREATED BY:</span> {{issue.POSTED}}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <form action="issueViewer1.html" method="post" name="form1">
                            <input type="hidden" name="akram" value="{{issue.ID}}">
                            <button class="btn btn-default" type="submit" name="submit" value="submit">Full View of the Issue</button>
                        </form>


                    </div>
                </div>


                <div class="col-md-6 column" ng-controller="MainCtrl" >
                    <div ng-repeat="sata in pdatas" style="margin-bottom: 50px;">
                        <div     ng-controller="MainCtrl"
                                 data-ac-chart="'pie'"
                                 data-ac-data="sata"
                                 data-ac-config="config"
                                 class="" style=" width: 200px; height: 200px; display: block">
                        </div>
                    </div>
                </div>



            </div><!--/row-->
        </div><!--/span-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <div class="list-group">
                <a href="createIssue.html" class="list-group-item active">Create Issue</a>
                <a href="project.html" class="list-group-item">Create Project</a>
                <a href="#" class="list-group-item">News</a>
            </div>
        </div><!--/span-->
    </div><!--/row-->

    <hr>

    <footer>
        <p>&copy; Company 2014</p>
    </footer>

</div><!--/.container-->


</body>
</html>