
  <div>
      <h2><center>insert User Credentials here</center></h2>
  </div>


  <div>    
      <form class="form-signin" role="form" name="login" action="" method="post">
        <input type="text" class="form-control" name="username" placeholder="Username" ng-model="username" required autofocus>
        <input type="password" class="form-control" name="password" placeholder="Password" ng-model="password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit" value="Submit" ng-click="submitHandler()">Sign in</buftton>
      </form>
  </div>

  {{notificationMessage}}