
<div ng-if="authorized">
    

    <h2>What do you want to do ?</h2>
    
    <button type="button" class="btn btn-default btn-lg" onClick="parent.location='#create'">
      <span class="glyphicon glyphicon-star"></span> Create New Token
    </button>

    <button type="button" class="btn btn-default btn-lg" onClick="parent.location='#browse'">
      <span class="glyphicon glyphicon-zoom-in"></span> Browse Token
    </button>

    <button type="button" class="btn btn-default btn-lg" onClick="parent.location='#import'">
      <span class="glyphicon glyphicon-download-alt"></span> Import Tokens..
    </button>
    
    <button type="button" class="btn btn-default btn-lg" onClick="parent.location='#avartar'">
      <span class="glyphicon glyphicon-user"></span> Manage Avartar 
    </button>
    
    <button type="button" class="btn btn-default btn-lg" onClick="parent.location='#designer'">
      <span class="glyphicon glyphicon-user"></span> Manage Designer 
    </button>
    
</div>